# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Android related
android/.gradle/
.gradle/
android/app/build/
android/build/
*.iml
*.apk
*.aar

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/build/

# VS Code/IDE
.idea/
.vscode/
*.log

# Misc
*.DS_Store
